{/* This is the timelinejs report template.*/}

{{define "root"}}
<!doctype html>
<html style="padding-right: 0px;"><head>
    <meta charset="utf-8">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="author" content="ULAPPH Cloud Desktop">
<meta name="viewport" content="width=device-width">
<meta name="description" content="ULAPPH Cloud Desktop is a TimelineJS tool.">
<title>TimelineJS - ULAPPH Cloud Desktop</title>
<link rel="shortcut icon" href="/static/lib/js/pickadate.js/images/favicon.ico">
<link rel="stylesheet" href="/static/lib/css/pickadate.js/main.css">
<link rel="stylesheet" href="/static/lib/css/pickadate.js/themes/default.css" id="theme_base">
<link rel="stylesheet" href="/static/lib/css/pickadate.js/themes/default.date.css" id="theme_date">
<link rel="stylesheet" href="/static/lib/css/pickadate.js/themes/default.time.css" id="theme_time">
<script src="/static/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="/static/lib/css/sol/sol.css">
<script type="text/javascript" src="/static/lib/js/sol/sol.js"></script>
<style>
table, td {
    border: 1px solid black;
}
</style>
<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>
<style>
/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
<body onload="loadSettings()">
     
<section class="section">
  <div class="section__block section__block--scoped">
    <fieldset class="fieldset">
	  <div class="fieldset__wrapper">
	    <input
	      id="date_demo__accessibility-labels"
	      name="start_date"
	      class="fieldset__input "
	      type="text"
	      placeholder="Start Date..."
	      >
	  </div>
	</fieldset>
    <fieldset class="fieldset">
	  <div class="fieldset__wrapper">
	    <input
	      id=""
	      name="start_time"
	      class="fieldset__input js__timepicker"
	      type="text"
	      value="12:00 AM"
	      >
	  </div>
	</fieldset>
    <fieldset class="fieldset">
	  <div class="fieldset__wrapper">
	    <input
	      id="date_demo__accessibility-labels2"
	      name="end_date"
	      class="fieldset__input "
	      type="text"
	      placeholder="End Date..."
	      >
	  </div>
	</fieldset>
    <fieldset class="fieldset">
	  <div class="fieldset__wrapper">
	    <input
	      id=""
	      name="end_time"
	      class="fieldset__input js__timepicker"
	      type="text"
	      value="11:59 PM"
	      >
	  </div>
	</fieldset>
	<div style="width:300px;">
		<select id="TYPE" name="type">
			<!--option value="">Select Type</option-->
			{{if eq .STR_FILLER2 "TDSMEDIA"}}
			<option value="TDSMEDIA">Media Only</option>
			{{end}}
			{{if eq .STR_FILLER2 "TDSSLIDE"}}
			<option value="TDSSLIDE">Slides Only</option>
			{{end}}
			{{if eq .STR_FILLER2 "TDSARTL"}}
			<option value="TDSARTL">Articles Only</option>
			{{end}}
		</select>
	</div>
	<!--div class="custom-select" style="width:300px;"-->
	<div style="width:300px;">
		<select id="CATEGORY" name="category">
			<!--option value="Select Category">Select Category</option-->
			<option value="{{.STR_FILLER3}}">{{.STR_FILLER4}}</option>
		</select>
		<!--script type="text/javascript">
		    $(function() {
		        // initialize sol
		        $('#CATEGORY').searchableOptionList();
		    });
		</script-->
	</div>
	<!--input type="text" id="kword" placeholder="Enter keyword filter..." maxlength=200-->
	<input type="submit" class="button" onclick="generateTimeJS()" id="subButton" value="Submit">
	<br>
	<i>Current time: {{.STR_FILLER1}}</i>
	<br>
	<i>Latest Data: {{.STR_FILLER5}}</i>
	<table id="myTable">
	</table>
  </div>
</section>
<script src="/static/lib/js/pickadate.js/picker.js"></script>
<script src="/static/lib/js/pickadate.js/picker.date.js"></script>
<script src="/static/lib/js/pickadate.js/picker.time.js"></script>
<script src="/static/lib/js/pickadate.js/legacy.js"></script>
<script src="/static/lib/js/pickadate.js/main.js"></script>
<script src="/static/lib/js/pickadate.js/rainbow.js"></script>
<script>
	//add table headers
    var table = document.getElementById("myTable");
    var row = table.insertRow(0);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);
    var cell4 = row.insertCell(3);
    var cell5 = row.insertCell(4);
    var cell6 = row.insertCell(5);
    var cell7 = row.insertCell(6);
    var cell8 = row.insertCell(7);
    var cell9 = row.insertCell(8);
    cell1.innerHTML = "START DATE";
    cell2.innerHTML = "START_TIME";
    cell3.innerHTML = "END_DATE";
    cell4.innerHTML = "END_TIME";
    cell5.innerHTML = "COUNT";
    cell6.innerHTML = "PHOTOS";
    cell7.innerHTML = "TIMELINE";
    cell8.innerHTML = "WALLPAPER";
    cell9.innerHTML = "DELETE";
    
	function loadSettings() {

		var start_date = localStorage["tjs.start_date"];
		document.getElementsByName("start_date")[0].value = start_date;

		var start_time = localStorage["tjs.start_time"];
		document.getElementsByName("start_time")[0].value = start_time;

		var end_date = localStorage["tjs.end_date"];
		document.getElementsByName("end_date")[0].value = end_date;

		var end_time = localStorage["tjs.end_time"];
		document.getElementsByName("end_time")[0].value = end_time;

		var contType = localStorage["tjs.TYPE"];
		document.getElementById("TYPE").value = contType;

		var contCat = localStorage["tjs.CATEGORY"];
		document.getElementById("CATEGORY").value = contCat;
	}

    
	function generateTimeJS() {
		//alert("Hello world!");
		document.getElementById("subButton").value="Please wait...";
		var start_date = document.getElementsByName("start_date")[0].value;
		var start_time = document.getElementsByName("start_time")[0].value;
		var end_date = document.getElementsByName("end_date")[0].value;
		var end_time = document.getElementsByName("end_time")[0].value;
		var contType = document.getElementById("TYPE").value;
		var contCat = document.getElementById("CATEGORY").value;
                if (contCat == "Select Category") {
                        contCat = "";
                }
		//var kword = document.getElementById("kword").value;
		localStorage["tjs.start_date"] = start_date;
		localStorage["tjs.start_time"] = start_time;
		localStorage["tjs.end_date"] = end_date;
		localStorage["tjs.end_time"] = end_time;
		localStorage["tjs.TYPE"] = contType;
		localStorage["tjs.CATEGORY"] = contCat;
		
		if (start_date == "" || start_time == "" || end_date == "" || end_time == "") {
			alert("Please populate all fields!");
			return;
		}
		var genLink = "/editor?EDIT_FUNC=TIMELINE&SID=GEN2&report=rep-stats" + "&start_date=" + start_date + "&start_time=" + start_time + "&end_date=" + end_date + "&end_time=" + end_time + "&cont_type=" + contType + "&cont_cat=" + contCat;
		console.log("genLink: "+genLink);
		//location.href=genLink;
	    if (window.XMLHttpRequest)
		  {// code for IE7+, Firefox, Chrome, Opera, Safari
		  cxhr2=new XMLHttpRequest();
		  }
		else
		  {// code for IE6, IE5
		  cxhr2=new ActiveXObject('MSXML2.XMLHTTP.3.0');
		  } 
		cxhr2.open("GET",genLink, true); 
		cxhr2.send();
	
		 cxhr2.onreadystatechange=function()
		  {
		  if (cxhr2.readyState==4 && cxhr2.status==200)
			{
			var currVal = cxhr2.responseText;
				if (currVal != "") {
					var pLink = "/media?FUNC_CODE=VIEW_THUMBS&PROC=Y" + "&start_date=" + start_date + "&start_time=" + start_time + "&end_date=" + end_date + "&end_time=" + end_time + "&cont_type=" + contType + "&cont_cat=" + contCat;
					console.log("pLink: "+pLink);
					var tLink = "/editor?EDIT_FUNC=TIMELINE&SID=GEN2" + "&start_date=" + start_date + "&start_time=" + start_time + "&end_date=" + end_date + "&end_time=" + end_time + "&cont_type=" + contType + "&cont_cat=" + contCat;
					console.log("tLink: "+tLink);
					var wLink = "/media?FUNC_CODE=VIEW_THUMBS&PROC=Y&USEWALLP=Y" + "&start_date=" + start_date + "&start_time=" + start_time + "&end_date=" + end_date + "&end_time=" + end_time + "&cont_type=" + contType + "&cont_cat=" + contCat;
					console.log("wLink: "+wLink);
					var dLink = "/media?FUNC_CODE=VIEW_THUMBS&PROC=Y&DELETE-ALL=Y" + "&start_date=" + start_date + "&start_time=" + start_time + "&end_date=" + end_date + "&end_time=" + end_time + "&cont_type=" + contType + "&cont_cat=" + contCat;
					console.log("dLink: "+dLink);
				    var table = document.getElementById("myTable");
				    var row = table.insertRow(0);
				    var cell1 = row.insertCell(0);
				    var cell2 = row.insertCell(1);
				    var cell3 = row.insertCell(2);
				    var cell4 = row.insertCell(3);
				    var cell5 = row.insertCell(4);
				    var cell6 = row.insertCell(5);
				    var cell7 = row.insertCell(6);
				    var cell8 = row.insertCell(7);
				    var cell9 = row.insertCell(8);
				    cell1.innerHTML = start_date;
				    cell2.innerHTML = start_time;
				    cell3.innerHTML = end_date;
				    cell4.innerHTML = end_time;
				    cell5.innerHTML = currVal;
				    var tid = contType + "-" + contCat + "-" + start_date + "-" + start_time + "-" + end_date + "-" + end_time;
				    var res = currVal.split("/");
				    if (res[0] == "0") {
				    cell6.innerHTML = "No data";
				    cell7.innerHTML = "No data";
				    cell8.innerHTML = "No data";
				    cell9.innerHTML = "No data";
				    } else {
				    cell6.innerHTML = "<a href='" + pLink + "' target='vtp" + tid + "'>" + "View Photos" + "</a>";
				    cell7.innerHTML = "<a href='" + tLink + "' target='vtt" + tid + "'>" + "View Timeline" + "</a>";
				    cell8.innerHTML = "<a href='" + wLink + "' target='vtw" + tid + "'>" + "Use as Wallpapers" + "</a>";
				    cell9.innerHTML = "<a href='" + dLink + "' target='vtw" + tid + "'>" + "Delete All" + "</a>";
				    }
				    document.getElementById("subButton").value="Submit";
				}
			}
	      }
	}	
	
</script>
<!--script>
	var x, i, j, selElmnt, a, b, c;
	/*look for any elements with the class "custom-select":*/
	x = document.getElementsByClassName("custom-select");
	for (i = 0; i < x.length; i++) {
	  selElmnt = x[i].getElementsByTagName("select")[0];
	  /*for each element, create a new DIV that will act as the selected item:*/
	  a = document.createElement("DIV");
	  a.setAttribute("class", "select-selected");
	  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
	  x[i].appendChild(a);
	  /*for each element, create a new DIV that will contain the option list:*/
	  b = document.createElement("DIV");
	  b.setAttribute("class", "select-items select-hide");
	  for (j = 0; j < selElmnt.length; j++) {
	    /*for each option in the original select element,
	    create a new DIV that will act as an option item:*/
	    c = document.createElement("DIV");
	    c.innerHTML = selElmnt.options[j].innerHTML;
	    c.addEventListener("click", function(e) {
	        /*when an item is clicked, update the original select box,
	        and the selected item:*/
	        var y, i, k, s, h;
	        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
	        h = this.parentNode.previousSibling;
	        for (i = 0; i < s.length; i++) {
	          if (s.options[i].innerHTML == this.innerHTML) {
	            s.selectedIndex = i;
	            h.innerHTML = this.innerHTML;
	            y = this.parentNode.getElementsByClassName("same-as-selected");
	            for (k = 0; k < y.length; k++) {
	              y[k].removeAttribute("class");
	            }
	            this.setAttribute("class", "same-as-selected");
	            break;
	          }
	        }
	        h.click();
	    });
	    b.appendChild(c);
	  }
	  x[i].appendChild(b);
	  a.addEventListener("click", function(e) {
	      /*when the select box is clicked, close any other select boxes,
	      and open/close the current select box:*/
	      e.stopPropagation();
	      closeAllSelect(this);
	      this.nextSibling.classList.toggle("select-hide");
	      this.classList.toggle("select-arrow-active");
	    });
	}
	function closeAllSelect(elmnt) {
	  /*a function that will close all select boxes in the document,
	  except the current select box:*/
	  var x, y, i, arrNo = [];
	  x = document.getElementsByClassName("select-items");
	  y = document.getElementsByClassName("select-selected");
	  for (i = 0; i < y.length; i++) {
	    if (elmnt == y[i]) {
	      arrNo.push(i)
	    } else {
	      y[i].classList.remove("select-arrow-active");
	    }
	  }
	  for (i = 0; i < x.length; i++) {
	    if (arrNo.indexOf(i)) {
	      x[i].classList.add("select-hide");
	    }
	  }
	}
	/*if the user clicks anywhere outside the select box,
	then close all select boxes:*/
	document.addEventListener("click", closeAllSelect);
</script-->
</body></html>
{{end}}
